@font-face {
    font-family: "Raleway";
    src: url("Fonts/Raleway-Regular.ttf"),
    url("Fonts/Raleway-Regular.ttf");
}


/*General*/
* {
    font-family: Raleway;
}

#all {
    padding: 20px;
}

body {
    overflow-x: hidden;

    margin: 0;
}

h4 {
    margin-left: 20px

}

h2 {
    padding-left: 10px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-bottom: 10px;

}


li :hover {
    border-top: solid 1px #0065FC;
    padding-top: 25px;
    color: #0065FC;

}

li a {
    text-decoration: none;
}

.container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    height: 10%;
}

/*Header/recherche */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#inscrire {
    color: #0065FC;
    font-weight: bold;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

#logo img {
    width: 90px;
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    font-size: 1.3em;
    color: black;
}

nav a:hover {
    color: #0065FC;
}

#tete {
    margin: auto 0 5px auto;
}

#texte {
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;

}


/*Recherche*/

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #f2f2f2;
    --icon-size: 40px;
}

#search {
    display: flex;
}

#iconInput {
    display: flex;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.icon1 {
    width: var(--icon-size);
    height: var(--icon-size);
    line-height: var(--icon-size);
    vertical-align: middle;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

input {
    margin: 0;
    text-indent: 5px;
    border: 2px solid #F2F2F2;
}

button {
    margin: 0;
    color: white;
    background-color: var(--blue);
    border: solid;
    border-radius: 0 10px 10px 0;
}

/*Filtre*/


.filtre {
    align-items: center;
    display: flex;

}

#paragraphe {
    padding-right: 20px;
    margin-right: 20px;
}

.bouton {
    display: flex;
    border: solid 3px #F2F2F2;
    border-radius: 20px;
    max-width: 300px;
    margin: 10px;
    align-items: baseline;
    text-decoration: none;
}

.icon {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    padding: 5px;
    max-height: 100px;
    max-width: 100px;
    min-height: 25px;
    min-width: 25px;
    text-align: center;
    line-height: 25px;
}

.textebouton {
    padding: 5px;
    font-family: Raleway;

}

.bouton :hover {

    color: #0065FC;
}

a {
    text-decoration: none;
    color: black;
}

/*Infos*/
.info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.texte {
    padding: 10px;
}

.fa-info {
    text-align: center;
    color: #0065fc;
    border-radius: 100%;
    height: 33px;
    width: 33px;
    border: solid 1px #d9d9d9;
    padding: 7px;
    box-sizing: border-box;
}

/*hébergements*/

#titrehebergement {
    width: 70%;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 800px;
}

#hebergements {

    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

#hebergements figure {
    border: 5px solid white;
    margin: 5px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.cartehebergement {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #F2F2F2;
    border-radius: 10px;
    overflow: hidden;
}

.cartehebergement:hover {
    transform: scale(1.01);
}

figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

figcaption {

    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    padding: 5px;
    border: 1px rgb(255, 255, 255);
    border-radius: 20px;
}


figcaption p {
    font-size: 10px;
}

.icon2 {
    color: #0065fc;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 15px;
    align-items: center;
}

.icon3 {
    color: #DEEBFF;
}

#afficher {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 25px;
    font-family: Raleway;
}


/*Les plus populaire*/


.charte {
    align-items: baseline;
    display: inline-flex;
    padding-left: 10px;
}

.fa-chart-line {
    float: right;
    padding-left: 150px;
}

#tout1 {
    Border-radius: 30px;
    background-color: #F2F2F2;
    margin-left: 20px;
}

#allcarte {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-row-gap: 5px;
    margin: 5px;
    height: 100%;
}

.tcarte {
    max-height: 150px;
}

.popcard {

    background-color: white;
    border: solid 5px white;
    border-radius: 10px;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}

.text10 {

    height: 100%;
    background-color: white;
    padding-left: 10px;
}

.imagelpp {
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    width: 40%;
}

.imagelpp img {
    border-radius: 10px 0 0 10px;
    width: 200px;
    height: 150px;
    object-fit: cover;

}

/*Activités*/

#activite {
    display: grid;
    margin: 40px 0;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;

}

.titreactivite {
    grid-column: 1/-1;
}

.carteactivite {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 10px;
    overflow: hidden;

}

.carteactivite:hover {
    transform: scale(1.01);
}

.contourimage {
    position: relative;
    flex: 1;
}

.contourimagebis {
    width: 100%;
    position: absolute;
    object-fit: cover;
    height: 100%;

}

.titrecarte {
    margin: 1.2rem 1.5rem;
}

.carteactivite1 {
    grid-row: 2/7;
    grid-column: 1/2;
}

.carteactivite2 {
    grid-column: 2/3;
    grid-row: 2/5;
}

.carteactivite3 {
    grid-column: 3/4;
    grid-row: 2/7;
}

.carteactivite4 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.carteactivite5 {
    grid-column: 2/3;
    grid-row: 6/7;
}

.carteactivite6 {
    grid-column: 4/5;
    grid-row: 4/7;
}


/*Footer*/


footer {
    background-color: #F2F2F2;
    width: 100%;
    padding: 15px;
    display: flex;
    margin: 0;
    position: absolute;

}

.Propos {
    flex: 1;
    width: 100%;
}

#bouttonloupe {
    display: none;
}

#signup {
    display: none;
}

/*Tablet*/

@media screen and (max-width: 800px) {

    .filtre {
        display: unset;
    }

    #hebergements {
        grid-template-columns: unset;
        background-color: #F2F2F2;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    #titrehebergement {
        width: 100%;
        height: unset;
        background-color: #F2F2F2;
        border: none;
    }

    #tout1 {
        margin-top: 15px;
        width: 100%;
        margin-left: unset;
        height: 700px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    #activite {
        grid-template-columns: unset;
        position: unset;
        margin: 0;
        column-gap: initial;
        display: unset;
    }

    .contourimagebis {
        position: unset;
        height: 200px;
    }


}

/*Smartphone*/

@media screen and (max-width: 600px) {

    header {
        display: inline;
    }

    input {
        height: 34px;
    }

    li a:hover {
        border-bottom: solid 2px #0065FC;
        padding-bottom: 1px;
        color: #0065FC;
        border-top: unset;
        padding-top: unset;

    }

    li a {
        text-decoration: none;
    }

    #inscrire {
        display: none;
    }

    #signup {
        display: initial;
        float: right;
        color: #0065FC;
        font-weight: bold;
    }

    ul {
        justify-content: space-around;
        padding-left: 30px;
    }

    #logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }


    #search {
        align-items: center;
        display: unset;
    }

    input {
        width: 100%;
        border: none;
    }

    #bouttonrecherche {
        display: none;
    }

    #bouttonloupe {
        display: initial;
        width: 50px;
        border-radius: 15px;


    }

    #iconInput{
        border-radius: 10px;
        border: solid 2px #F2F2F2;
    }

    #paragraphe {
        margin-top: 20px;
    }

    .filtre {
        margin-top: 10px;
        display: table-row;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .cartehebergement {
        box-shadow: white;
    }

    #hebergements {
        grid-template-columns: unset;
        background-color: white;
        border: white;

    }

    #titrehebergement {
        width: 100%;
        height: unset;
        background-color: #F2F2F2;
        border: none;
    }

    #afficher {
        margin-bottom: 10px;
    }

    #tout1 {
        margin-top: 15px;
        width: 100%;
        margin-left: unset;
        height: 800px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;

    }

    #activite {
        grid-template-columns: unset;
        position: unset;
        margin: 0;
        column-gap: initial;
        display: unset;
    }

    .contourimagebis {
        position: unset;
        height: 200px;
    }

    footer {
        display: unset;
        padding: 0;
    }

    .Propos h3 {
        padding-left: 15px;
    }

}







