@font-face 
{
    font-family: "Raleway";
    src: url("Fonts/Raleway-Regular.ttf"),
        url("Raleway-Regular.ttf");
}




/*General*/
*
{
    font-family: Raleway;
}

#all
{
    padding: 20px;
}

body
{
    overflow-x: hidden;

    margin: 0px;
}
h4
{
    margin-left: 20px

}

img
{
    max-width: 150px;
    min-height: auto;

}

ul
{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li 
{
    margin-bottom: 10px;

}


li :hover
{
    border-top: solid 1px #0065FC;
    color: #0065FC;
}

li a 
{
    text-decoration: none;
}

.container
{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

/*Header/recherche */

header
{
    display: flex;
    justify-content: space-between;
    align-items:  center;

}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;

}
#logo img 
{
    width: 90px;
    height: 50px;
}

nav ul 
{
    list-style-type: none;
    display: flex;
}

nav li 
{
    margin-right: 15px;
}

nav a 
{
    font-size: 1.3em;
    color: black;
}

nav a:hover
{
    color: #0065FC ;
}

#tete
{
    margin: auto 0px 5px auto;
}
#texte
{
    text-align: left;
    font-size: 1.3em;
    font-style: bold;

}

#texte1
{
    font-size: 0.80em;
    text-shadow: 0;
}


/*Recherche*/

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #f2f2f2;
    --icon-size: 40px;
}

#search {
    display: flex;
}

#iconInput {
    display: flex;
    background-color: var(--grey);
    border: 2px solid var(--grey);
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.icon1 {
    width: var(--icon-size);
    height: var(--icon-size);
    line-height: var(--icon-size);
    vertical-align: middle;
    text-align: center;
}

input {
    margin: 0;
    border: none;
    text-indent: 5px;
}

button {
    margin: 0;
    color: white;
    background-color: var(--blue);
    border: solid;
    border-radius: 0 10px 10px 0;
}

/*Filtre*/


.filtre 
{
    align-items: center;
    display: flex;

}
#paragraphe

{
    padding-right: 20px;
    margin-right: 20px;
}

.bouton
{
    display: flex;
    border: solid 2.5px #F2F2F2;
    border-radius: 20px;
    max-width: 300px;
    margin: 10px;
    align-items: baseline;
    text-decoration: none;
}

.icon 
{
    background-color: #DEEBFF ;
    color: #0065FC;
    border-radius: 100%;
    padding: 5px;
    max-height: 100px;
    max-width: 100px;
    min-height: 25px;
    min-width: 25px;
    text-align: center;
    line-height: 25px;
}

.textebouton
{
    padding: 5px;
    font-family: Raleway;

}   
.bouton :hover
{

    color: #0065FC;
}

a 
{
    text-decoration: none;
    color: black;
}

/*Infos*/
.info
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.texte
{
    padding: 10px;
}

.fa-info {
    text-align: center;
    color: #0065fc;
    border-radius: 100%;
    height: 33px;
    width: 33px;
    border: solid 1px #d9d9d9;
    padding: 7px;
    box-sizing: border-box;
}

/*hébergements*/

#tout
{
    border-radius: 30px;
    padding: 5px;
    margin-right: 10px;
    background-color: #F2F2F2;
    width: 70%;
}
.trois 

{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;

} 


.generali
{
    display: flex;
    padding: 5px;
}


.forme
{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    border: 5px solid rgb(255, 253, 253);
    max-width: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.forme img 
{
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px 20px 0 0;
}

.description
{
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    margin-top: 5px;
    padding: 5px;
    border: 1px;
}
.description, p
{
    font-size: 10px;
}

.icon2
{
    color: #0065fc;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 15px;
    align-items: center;
}
.icon3
{
    color:#DEEBFF;
}

#afficher
{
    font-family: bold;
    font-size: 15px;
    margin-left: 20px;
}
.portrait
{
    height: 200px;
}

/*Les plus populaire*/


.charte
{
    align-items: baseline;
    display: inline-flex
}
.fa-chart-line
{
    float: right;
    padding-left: 150px;
}

#tout1
{
    Border-radius: 30px;
    background-color:  #F2F2F2;
    width: 30%;
}

#allcarte
{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-row-gap: 33.3%;
    
}
.tcarte
{
    max-height: 150px;
}
.popcard
{

    height : 120px; 
    background-color: #f2f2f2;
    border: solid 5px white;
    border-radius: 10px;
    display: flex;
    margin-left: 40px;
    margin-right: 25px;
}

.text10
{

    height: 100%;
    background-color: white;
    padding-left: 10px;
}

.imagelpp
{
    border-radius: 10px 0 0 10px; 
}

.imagelpp img
{
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 100%;

}
/*Activités*/

#Tout2
{

    padding: 60px auto; 
    border-radius: 30px;
}


#activite
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.generala
{
    
    padding: 5px;
}

.forme1
{
    background-color: rgb(255, 255, 255);
    border-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    width: 150px;
    box-shadow:  10px 5px 5px #F2F2F2;
}
.one
{
   border-top-left-radius: 10PX;
   border-top-right-radius: 10px;
}

.description1
{
    background-color: white;
    box-shadow: 10px 5px 5px #F2F2F2;
    padding: 5px;
    border: 1px solid WHITE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.image1
{
    height: 300px;
}

/*Footer*/


footer
{
    background-color: #F2F2F2;
    width: 100%;
    padding: 15px; 
    display: flex;
    margin: 0px;
    position:absolute;

}
.Propos
{
    flex: 1;
    width: 100%;
}












